@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Audiowide Regular'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v8/l7gdbjpo0cum0ckerWCdlg_L.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://fonts.gstatic.com/s/robotocondensed/v18/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7CA.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q,
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* My Added Styles */
/* Less Variables */
/* End Variables */
/* Mix-ins */
/* End Mix-ins */
/* Start Styles */
html,
body {
  height: 100vh;
  font-size: 10px;
  font-weight: 400;
  color: #D6ED17;
  background-color: #020402;
  font-family: 'Roboto Condensed', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Audiowide', cursive;
  display: block;
  margin: 1em auto;
  color: #d5d4d2;
}
h2 {
  font-size: 3em;
  font-weight: 700;
}
@media (max-width: 600px) {
  h2 {
    font-size: 2em;
  }
}
h3 {
  font-size: 2.4em;
  font-weight: 700;
}
@media (max-width: 600px) {
  h3 {
    font-size: 1.8em;
  }
}
h4 {
  font-size: 2em;
  font-weight: 700;
}
@media (max-width: 600px) {
  h4 {
    font-size: 1.5em;
  }
}
h5 {
  font-size: 1.7em;
  font-weight: 700;
}
@media (max-width: 600px) {
  h5 {
    font-size: 1.5em;
  }
}
h6 {
  font-size: 1.5em;
  font-weight: 700;
}
@media (max-width: 600px) {
  h6 {
    font-size: 1.4em;
  }
}
p {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 0 1em 0;
  font-size: 1.5em;
}
@media (max-width: 600px) {
  p {
    font-size: 1.4em;
  }
}
.caps {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.big {
  font-size: 1.6em;
}
/* Header and Nav */
header {
  position: fixed;
  background-color: #020402;
  width: 100%;
  height: auto;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  line-height: 3em;
  height: 3em;
  width: 100%;
}
header .navbar .menu-toggle {
  display: none;
}
@media (max-width: 700px) {
  header .navbar .menu-toggle {
    display: inline-block;
    padding: 0.75em 1.5em;
    line-height: 3em;
    font-size: 2em;
    color: #D6ED17 !important;
  }
  header .navbar .menu-toggle:hover {
    color: #e7fe28;
  }
}
header .navbar .gdm-logo {
  background-color: #020402;
  background-image: url(../img/GDM-Logo_green.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  max-height: 51px;
  max-width: 200px;
  width: 200px;
}
header .navbar #pc-menu {
  padding: 0.2em auto;
  height: 2.7em;
  line-height: 2.7em;
  width: 100%;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
@media (max-width: 1075px) {
  header .navbar #pc-menu {
    height: 2.2em;
    line-height: 2.4em;
    font-size: 1.6em;
  }
}
@media (max-width: 975px) {
  header .navbar #pc-menu {
    height: 2em;
    line-height: 2.2em;
    font-size: 1.5em;
  }
}
@media (max-width: 930px) {
  header .navbar #pc-menu {
    height: 1.8em;
    line-height: 2em;
    font-size: 1.4em;
  }
}
@media (max-width: 860px) {
  header .navbar #pc-menu {
    height: 1.6em;
    line-height: 1.7em;
    font-size: 1.3em;
  }
}
@media (max-width: 800px) {
  header .navbar #pc-menu {
    height: 1.6em;
    line-height: 1.7em;
    font-size: 1.2em;
  }
}
header .navbar #pc-menu ul.nav-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
@media (max-width: 1000px) {
  header .navbar #pc-menu ul.nav-links {
    width: 90%;
  }
}
@media (max-width: 800px) {
  header .navbar #pc-menu ul.nav-links {
    width: 100%;
  }
}
@media (max-width: 700px) {
  header .navbar #pc-menu ul.nav-links {
    display: none;
  }
}
header .navbar #pc-menu ul.nav-links li.nav-li a {
  color: #020402 !important;
  background-color: #D6ED17 !important;
  padding: 0 0.8em;
  margin: 0.5em 1em;
  text-decoration: none;
  margin-bottom: 0;
  border-radius: 5px;
}
header .navbar #pc-menu ul.nav-links li.nav-li a:hover {
  color: #e7fe28 !important;
  background-color: #131513 !important;
  margin-bottom: 2px;
}
@media (max-width: 700px) {
  header .navbar #pc-menu ul.nav-links li.nav-li a {
    display: none;
  }
}
@media (max-width: 700px) {
  header .navbar #pc-menu {
    display: none;
  }
}
header .navbar #phone-menu {
  display: none;
}
#intro {
  background-image: linear-gradient(to bottom, rgba(10, 255, 10, 0.3), rgba(0, 19, 0, 0.7)), url(../img/dmd-MOON-logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  align-items: center;
}
#intro h1 {
  color: #D6ED17;
  text-shadow: #020402 -3px 3px;
  font-size: 8em;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-top: 55vh;
}
@media (max-width: 1000px) {
  #intro h1 {
    font-size: 6em;
  }
}
@media (max-width: 800px) {
  #intro h1 {
    font-size: 4em;
  }
}
@media (max-width: 600px) {
  #intro h1 {
    font-size: 2.5em;
  }
}
#intro h3 {
  color: #D6ED17;
  text-shadow: #020402 -3px 3px;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1%;
}
#intro p .primary-btn {
  color: #020402;
  background: #D6ED17;
  border: #020402 2px solid;
  border-radius: 0.6em;
  padding: 0.5em, 1em;
  margin: 1em, 1.5em;
  line-height: 2em;
  text-align: center;
}
#intro p .primary-btn:hover {
  color: #e7fe28;
  background: #131513;
  border: #e7fe28 2px solid;
}
.gdm-section {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  border-bottom: #D6ED17 4px solid;
  color: #D6ED17;
  width: 100%;
}
@media (max-width: 600px) {
  .gdm-section {
    flex-direction: column;
    justify-content: center;
  }
}
#info {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  color: #D6ED17;
  width: 100%;
  height: 100vh;
}
@media (max-width: 1000px) {
  #info {
    height: auto;
  }
}
@media (max-width: 600px) {
  #info {
    flex-direction: column;
    justify-content: center;
  }
}
.img-respond {
  width: 100%;
  max-width: 480px;
  margin: 1em auto;
}
.shortside-col {
  margin: 0 auto;
  width: 32%;
}
@media (max-width: 600px) {
  .shortside-col {
    width: 100%;
  }
}
.longside-col {
  margin: 0 auto;
  width: 65%;
}
@media (max-width: 600px) {
  .longside-col {
    width: 100%;
  }
}
.evenside-col {
  margin: 0 auto;
  width: 49%;
}
@media (max-width: 700px) {
  .evenside-col {
    width: 100%;
  }
}
.row {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}
@media (max-width: 600px) {
  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.open ul.nav-links {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.open ul.nav-links li.nav-li a {
  color: #020402 !important;
  background-color: #D6ED17 !important;
  padding: 1em 0.8em;
  text-decoration: none;
  margin-bottom: 1px;
  border-radius: 5px;
}
.open ul.nav-links li.nav-li a:hover {
  color: #e7fe28 !important;
  background-color: #131513 !important;
  margin-bottom: 2px;
}
